@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to left, #135b8a 10%, #8e44ad 50%, #682385 90%);
    /* Adjust the percentages as needed */
    margin: 0; /* Reset default body margin */
    height: 100vh; /* Set full height of the viewport */
    /* overflow: hidden; Prevent vertical scrollbar */
  }

  /* linear-gradient(to bottom, #3498db, #8e44ad) */


